# Start here!

Here I am using the open data under the SEG 2016 facies classification tutorial.

There are 9 different facies there were classified using core analysis. If we label them:

>1. Nonmarine sandstone 
2. Nonmarine coarse siltstone
3. Nonmarine fine siltstone
4. Marine siltstone and shale
5. Mudstone (limestone. 
6. Wackestone (limestone. 
7. Dolomite
8. Packstone-grainstone (limestone)
9. Phylloid-algal bafflestone (limestone)

Let's import some functions we are using.

In [13]:
from os.path import join

from pandas import read_csv, options, set_option

from matplotlib.pyplot import close

from visualization import make_facies_log_plot

set_option("display.max_rows", 10)
options.mode.chained_assignment = None

print("Imported all functions successfully!")

Imported all functions successfully!

Now that we have the library functions we need, we can start reading data.

For reading and organizing data, I will be using Pandas.

In [14]:
file_path = join('data_input', 'facies_vectors.csv')

well_data = read_csv(file_path)
well_data.set_index('Well Name', inplace=True)

well_names = well_data.index.unique()
num_wells = len(well_names)

# List names of files
print("There are 10 wells in *.csv file:")
for well_name in well_names:
    print("  - %s" % well_name)
    
well_data

There are 10 wells in *.csv file:
  - SHRIMPLIN
  - ALEXANDER D
  - SHANKLE
  - LUKE G U
  - KIMZEY A
  - CROSS H CATTLE
  - NOLAN
  - Recruit F9
  - NEWBY
  - CHURCHMAN BIBLE

,Facies,Formation,Depth,GR,ILD_log10,DeltaPHI,PHIND,PE,NM_M,RELPOS
Well Name,,,,,,,,,,
SHRIMPLIN,3,A1 SH,2793.0,77.450,0.664,9.900,11.915,4.600,1,1.000
SHRIMPLIN,3,A1 SH,2793.5,78.260,0.661,14.200,12.565,4.100,1,0.979
SHRIMPLIN,3,A1 SH,2794.0,79.050,0.658,14.800,13.050,3.600,1,0.957
SHRIMPLIN,3,A1 SH,2794.5,86.100,0.655,13.900,13.115,3.500,1,0.936
SHRIMPLIN,3,A1 SH,2795.0,74.580,0.647,13.500,13.300,3.400,1,0.915
...,...,...,...,...,...,...,...,...,...,...
CHURCHMAN BIBLE,5,C LM,3120.5,46.719,0.947,1.828,7.254,3.617,2,0.685
CHURCHMAN BIBLE,5,C LM,3121.0,44.563,0.953,2.241,8.013,3.344,2,0.677
CHURCHMAN BIBLE,5,C LM,3121.5,49.719,0.964,2.925,8.013,3.190,2,0.669
CHURCHMAN BIBLE,5,C LM,3122.0,51.469,0.965,3.083,7.708,3.152,2,0.661
CHURCHMAN BIBLE,5,C LM,3122.5,50.031,0.970,2.609,6.668,3.295,2,0.653